@import url("https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none; }

body {
  font-family: Helvetica;
  background-color: #f2f2f2; }

/* Generic classes */
.widthLimit {
  margin: 0 auto;
  max-width: 1350px;
  padding: 25px 0px; }

/* Header */
#headerContainer {
  display: grid;
  grid-template-columns: 250px 1fr; }

.border {
  border-radius: 100px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px; }

.logoMain {
  height: 80px; }

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px; }

.items {
  width: 150px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.8rem; }

.subItems {
  display: none;
  position: absolute;
  background: #f2f2f2;
  height: 120px;
  width: 140px;
  border-radius: 20px; }

li:hover .subItems {
  display: block; }

.subLinks {
  padding-top: 20px;
  background: #f2f2f2; }

.links {
  color: #3a7bd5;
  transition: 1s;
  padding-bottom: 5px;
  transition: all 0.5s; }

.links:hover {
  color: #d9185f;
  border-bottom: 1px solid #d9185f;
  font-weight: 500; }

/* First Section */
#firstSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem; }

.firstPart {
  justify-self: center;
  align-self: center; }

.firstTitle {
  font-size: 5rem;
  color: #3a7bd5;
  opacity: 0.3;
  letter-spacing: 10px; }

.secondTitle {
  font-size: 3.6rem;
  color: #d9185f; }

.textTitle {
  margin-top: 15px;
  font-size: 1.1rem;
  color: #2e2e2e; }

button {
  cursor: pointer; }

.mainButton {
  margin-top: 30px;
  width: 120px;
  height: 50px;
  border: 0;
  border-radius: 30px;
  transition: 0.8s;
  letter-spacing: 3px;
  background-color: #3a7bd5;
  color: #f2f2f2; }

.mainButton:hover {
  background-color: #f2f2f2;
  color: #d9185f;
  border: 1px solid #d9185f;
  font-weight: 900; }

.secondPart {
  display: grid;
  justify-content: center;
  align-items: center; }

.divBall {
  background: linear-gradient(to bottom, #3a7bd5, #d9185f);
  border-radius: 50%;
  grid-column: 1 / 2;
  grid-row: 1/ 2;
  height: 200px;
  width: 200px;
  margin: auto;
  animation: ball 4s infinite;
  animation-direction: alternate; }

.tableImage {
  grid-column: 1 / 2;
  grid-row: 1/ 2; }

.mainImage {
  height: 350px;
  animation: rotate 14.5s infinite;
  animation-direction: alternate; }

@keyframes ball {
  from {
    transform: scale(0.8) rotate(1turn); }
  to {
    transform: scale(1) rotate(2.5turn);
    color: #3a7bd5; } }

@keyframes rotate {
  from {
    transform: rotate(0turn); }
  to {
    transform: rotate(1turn); } }

/* Second Section */
#productSection {
  display: grid;
  grid-template-rows: 100px 1fr;
  padding: 60px 0; }

.readMoreButton {
  margin: 0;
  align-self: center;
  justify-self: end; }

.releaseText {
  font-size: 2rem;
  color: #d9185f;
  text-transform: uppercase;
  letter-spacing: 1px; }

.lastReleases {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 25px; }

.productCollection {
  margin-top: 20px;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr)); }

.cards {
  box-shadow: 0 0 5px 0 rgba(117, 117, 117, 0.2);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: 0.5s; }

.cards:hover {
  box-shadow: 0 0 10px 0 rgba(117, 117, 117, 0.4); }

.image {
  width: 100%;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin-bottom: 20px; }

.badgeContainer {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.5rem;
  color: #f29f05;
  letter-spacing: 1px; }

.badge {
  padding: 7px 10px;
  border-radius: 5px;
  margin: 0 5px; }

.badgeMountain {
  border: 1px solid #f29f05;
  color: #f29f05; }

.badgeFreestyle {
  border: 1px solid #d9185f;
  color: #d9185f; }

.productName {
  text-align: center;
  color: #2e2e2e;
  font-size: 1rem;
  font-weight: 300;
  margin: 10px 0;
  padding: 0 1px; }

.productPrice {
  text-align: center;
  letter-spacing: 2px;
  color: #2e2e2e;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 10px 0; }

/* Third Section */
#thirdSection {
  display: grid;
  padding: 50px 0;
  height: 450px;
  background-image: linear-gradient(to bottom, rgba(58, 123, 213, 0.35), rgba(0, 210, 255, 0.35)), url("../images/about-us.jpg");
  background-position: center; }

.thirdContainer {
  justify-self: center;
  align-self: center; }

.thirdTitle {
  text-align: center;
  font-size: 4rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #f2f2f2; }

.thirdText {
  text-align: center;
  color: #f2f2f2;
  font-size: 1.2rem;
  max-width: 600px;
  letter-spacing: 1px;
  line-height: 1.5rem; }

/* Four Section */
#fourSection {
  display: grid;
  grid-template-rows: 50px 1fr; }

.ourBrands {
  height: 100px;
  padding: 50px 0;
  font-size: 1.7rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  color: #2e2e2e; }

.brands {
  padding: 70px 0;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.imgBrands {
  width: 100px; }

/* Footer */
footer {
  background: linear-gradient(to right, #3a7bd5, #00d2ff);
  height: auto; }

#footerSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 30px;
  column-gap: 4rem;
  row-gap: 2rem;
  color: #f2f2f2; }

.paragraphFooter {
  font-size: 0.8rem; }

.titleFooter {
  letter-spacing: 3px;
  font-size: 1.1rem;
  text-transform: uppercase;
  padding-bottom: 30px; }

.itemFooter {
  color: #f2f2f2;
  margin-bottom: 15px;
  letter-spacing: 2px;
  font-size: 0.9rem; }

.listFooterItems {
  padding-bottom: 10px; }

.socialLinks:hover {
  color: #053742; }

.socialIcons {
  color: #f2f2f2;
  font-size: 1.5rem;
  padding: 0 10px;
  cursor: pointer;
  transition: all 0.5s; }

.socialIcons:hover {
  transform: scale(2); }

.footerMade {
  text-align: center;
  font-size: 0.8rem;
  letter-spacing: 2px;
  grid-column-start: 1;
  grid-column-end: 4; }

/* Tablet */
@media (max-width: 768px) and (min-width: 376px) {
  .widthLimit {
    margin-top: 10px;
    padding: 0 10px; }
  .items {
    width: 120px;
    font-size: 0.7rem; }
  .firstTitle {
    font-size: 3rem; }
  .secondTitle {
    font-size: 2.6rem;
    color: #d9185f; }
  .mainImage {
    height: 300px;
    width: 300px;
    object-fit: cover; }
  .lastReleases {
    grid-template-columns: 2fr 1fr; }
  #thirdSection {
    margin-top: 50px;
    width: 700px;
    background-position: right; }
  #footerSection {
    padding-top: 20px; } }

/* Mobile */
@media (max-width: 375px) {
  nav {
    display: none; }
  #firstSection {
    grid-template-columns: 1fr;
    gap: 2rem; }
  .widthLimit {
    margin: 0 auto;
    max-width: 375px;
    padding: 25px 0px; }
  .firstPart {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .firstTitle {
    font-size: 2rem; }
  .secondTitle {
    font-size: 2rem; }
  .textTitle {
    text-align: center;
    padding: 0 12px;
    font-weight: 300; }
  .mainButton {
    margin-top: 15px;
    width: 190px;
    height: 30px;
    border: 0;
    border-radius: 30px;
    transition: 0.8s;
    letter-spacing: 3px;
    background-color: #3a7bd5;
    color: #f2f2f2;
    font-size: 0.8rem; }
  #firstSection div {
    margin: auto; }
  .mainImage {
    height: 230px; }
  .lastReleases {
    grid-template-columns: 1fr; }
  .releaseText {
    font-size: 1.4rem;
    text-align: center; }
  .readMoreButton {
    margin: 15px auto; }
  .productCollection {
    margin: 0 10px; }
  .image {
    object-fit: cover;
    height: 320px; }
  #thirdSection {
    width: 95%;
    height: 350px; }
  .thirdTitle {
    font-size: 1.5rem; }
  .thirdText {
    width: 300px; }
  .brands {
    flex-wrap: wrap; }
  .ourBrands {
    font-size: 1.3rem; }
  .imgBrands {
    width: 81px; }
  #footerSection {
    padding: 10px;
    text-align: center; }
  .footerMade {
    grid-row: 4; }
  #footerSection div {
    grid-column-start: 1;
    grid-column-end: 4; }
  .titleFooter {
    padding: 10px 0; }
  .footerSocial {
    padding: 120px 0 0 0; } }
