@import '../themes/colors';

.errorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.textTitleError {
  color: $grey-color;
}
.errorImage {
  width: 900px;
  border-radius: 5px;
  margin-top: 20px;
}
@media (max-width: 375px) {
  .errorImage {
    width: 300px;
  }
}
